<div class="container my-2">
    <h1 class="display-3 text-center">Recent Posts</h1>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Article title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">author name</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">read more</a>
                  <a href="#" class="card-link">like</a>
                </div>
              </div>
        </div>
    </div>
</div>