<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Album example is a bootstrap, but please </p>
            <p>new to bootstrap? <a href="https://getbootstrap.com">Visit site to get some idea about bootstrap.</a></p>
        </div>
    </footer>
</body>
</html>